<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Servicios Patitas Lindas <%= " - " + seccion %></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/public/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/public/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Patitas Lindas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <%if(opciones != null) opciones.forEach(e =>{ %>
                            <li class="nav-item">
                                <a class="nav-link <%if(e.activo == true){%>active<%} %>" href="<%= e.link %>"><%=e.label%></e.label> </a>
                            </li>
                        <%}); %>
                    </ul>
                </div>
            </div>
        </nav>
                <!-- Page content-->
        <div class="container">
        <%if(messages.noti) {%>
            <div class="alert alert-success" role="alert">
                <%= messages.noti %>
            </div>
        <%}%>