<%- include("header", {seccion: "Pagina Principal", opciones: [
{link: "/mascotas", label: "Mascotas"},
{link: "/adopciones", label: "Adopciones"},
{link: "/personal", label: "Personal"} ]})%>

<h1>Menú principal</h1>

<ul>
    <li><a href="/mascotas"> Registro de Mascotas</a></li>
    <li><a href="/adopciones">Registro de Adopciones</a></li>
    <li><a href="/personal">Registro del Personal</a></li>
</ul>

<%- include("footer")%>