
<form action="/mascotas/post" method="post">
    <input type="text" name="tipo" id="tipo">
    <input type="text" name="raza" id="raza">
    <input type="text" name="nombre" id="nombre">
    <select name="sexo" id="sexo"></select>
    <input type="number" name="estatura" id="estatura">
    <div id="mapinput"></div>
    <input type="hidden" name="ubicacion[0]">
    <input type="hidden" name="ubicacion[1]">
    <div id="mapinput">
        
    </div>
    <button type="submit">Registrar mascota</button>
</form>