
<%- include("../header", {seccion: "Ubicacion de los animales", opciones: [
{link: "/mascotas", label: "Mascotas", activo: true},
{link: "/adopciones", label: "Adopciones"},
{link: "/personal", label: "Personal"} ]})%>

    <link rel="stylesheet" href="/public/leaflet/leaflet.css"/>
    <script src="/public/leaflet/leaflet.js"></script>
    <script src="/public/leaflet-easyprint.js"></script>
    <h1>Ubicacion de todos los animales rescatados</h1>
      <div id="map" style="height: 500px;">
      </div>
      
    <script type="text/javascript">
      var map = L.map('map').setView([6.511815, -65.797119], 4);

      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
      }).addTo(map);

      var mascotaEnMapa = []
      const cargarMascotas = async () => {
      const response = await fetch('http://localhost:5000/api/mascotas'); 
      // Llamada a la api, desde el lado del servidor.
      const myJson = await response.json(); 
      if(myJson == null || myJson.length < 1){
        alert("No hay mascotas para mostrar su ubicación de rescate!");
      }
        else{
          myJson.forEach(m => {
            //alert(m.ubicacion[0] + " , " + m.ubicacion[1]);
            var marker = L.marker(m.ubicacion).addTo(map);
            var apopup = L.popup({closeButton : false, autoClose: false})
            .setContent("¡Aqui encontramos a "+ m.nombre +"!");
            marker.bindPopup(apopup);

            function muestraPopup(e) {
              marker.openPopup();
            }
            function cierraPopup(e) {
              marker.closePopup();
            }

            marker.on("mouseover", muestraPopup);
            marker.on("mouseout", cierraPopup);
            mascotaEnMapa.push(marker);
          });
        }
      }
      window.onload = cargarMascotas;

      L.easyPrint({
        title: 'Imprimir mapa',
        position: 'bottomright',
        sizeModes: ['A4Portrait', 'A4Landscape']
      }).addTo(map);
    </script>

<%- include("../footer") %> 